img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Styles for Leaflet popups to ensure they are larger on mobile */
.leaflet-popup-content-wrapper {
    max-width: 300px !important;
    /* Increase max-width for better readability */
}

@media (max-width: 600px) {
    .leaflet-popup-content-wrapper {
        max-width: 90% !important;
        /* Make popups wider on small screens */
    }

    .leaflet-popup-content {
        font-size: 1.2em;
        /* Increase font size for readability */
    }

    .leaflet-popup-tip-container {
        display: none;
        /* Hide the popup arrow */
    }

    .leaflet-popup-close-button {
        font-size: 1.5em;
        /* Increase the size of the close button */
        top: 10px;
        right: 10px;
    }
}