{% extends 'treefinder/base.html' %}
{% load static %}

{% block content %}
<p>This is the homepage for FruitFinderTO. Here you can find information about fruit trees in your area.</p>

<form id="searchForm">
    <label for="name">Choose a fruit type:</label>
    <select name="name" id="name">
        <option value="all">All</option>
        <option value="Apple">Apple</option>
        <option value="Cherry">Cherry</option>
        <option value="Mulberry">Mulberry</option>
        <option value="Peach">Peach</option>
        <option value="Pear">Pear</option>
        <option value="Plum">Plum</option>
        <option value="Serviceberry">Serviceberry</option>
    </select>
    <label for="seasonSlider">Select Date:</label>
    <input type="range" id="seasonSlider" name="seasonSlider" min="1" max="365">
    <p>Current Date: <span id="dateDisplay"></span></p>
</form>

<div id="mapid" style="height: 75vh;"></div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var mymap = L.map('mapid').setView([43.6415228, -79.4182776], 16);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap contributors'
        }).addTo(mymap);

        // Define bounding box coordinates for Toronto
        const TORONTO_BOUNDS = [
            [43.855457, -79.639319], // Northwest corner
            [43.581024, -79.116897]  // Southeast corner
        ];

        // Create a LatLngBounds object for the bounds and set map boundaries
        const torontoBounds = L.latLngBounds(TORONTO_BOUNDS);
        mymap.setMaxBounds(torontoBounds);  // Limit the map to Toronto   

        var markers = L.markerClusterGroup({
            disableClusteringAtZoom: 17,
            maxClusterRadius: 120,
            spiderfyOnMaxZoom: false,
        });

        var today = new Date();
        var start = new Date(today.getFullYear(), 0, 0);
        var diff = today - start;
        var oneDay = 1000 * 60 * 60 * 24;
        var dayOfYear = Math.floor(diff / oneDay);

        document.getElementById('seasonSlider').value = dayOfYear;
        updateDateDisplay(dayOfYear); // Function to update date display below slider

        document.getElementById('seasonSlider').addEventListener('input', function (e) {
            loadVisibleTrees(); // Adjust to filter based on the slider's value
            updateDateDisplay(e.target.value);
        });

        function updateDateDisplay(dayOfYear) {
            var date = new Date(new Date().getFullYear(), 0);
            date.setDate(dayOfYear);
            document.getElementById('dateDisplay').innerText = date.toLocaleDateString();
        }

        function loadVisibleTrees() {
            var bounds = mymap.getBounds();
            var ne = bounds.getNorthEast();
            var sw = bounds.getSouthWest();
            var name = document.getElementById('name').value;
            var dayOfYear = document.getElementById('seasonSlider').value;

            fetch("{% static 'data/tree_data.json' %}")
                .then(response => response.json())
                .then(data => {
                    markers.clearLayers();
                    data.forEach(function (tree) {
                        if (
                            tree.latitude <= ne.lat && tree.latitude >= sw.lat &&
                            tree.longitude <= ne.lng && tree.longitude >= sw.lng &&
                            (name === 'all' || tree.name === name) &&
                            (dayOfYear >= tree.fruiting_start_day && dayOfYear <= tree.fruiting_end_day)
                        ) {
                            var popupContent = `
                                <strong>${tree.name}</strong><br>
                                Address: ${tree.address}<br>
                                Fruiting Start Day: ${tree.fruiting_start_day}<br>
                                Fruiting End Day: ${tree.fruiting_end_day}
                            `;
                            var marker = L.marker([tree.latitude, tree.longitude])
                                .bindPopup(popupContent);
                            markers.addLayer(marker);
                        }
                    });
                    mymap.addLayer(markers);
                });
        }

        document.getElementById('name').addEventListener('change', loadVisibleTrees);

        var geocoder = L.Control.geocoder({
            defaultMarkGeocode: false,
            placeholder: "Search for an address...",
            collapsed: false,
            position: 'topright',
            geocoder: new L.Control.Geocoder.Nominatim()
        }).on('markgeocode', function (e) {
            var bbox = e.geocode.bbox;
            var center = e.geocode.center;

            var currentMarker = L.marker(center).addTo(mymap)
                .bindPopup(e.geocode.name)
                .openPopup();

            var poly = L.polygon([
                bbox.getSouthEast(),
                bbox.getNorthEast(),
                bbox.getNorthWest(),
                bbox.getSouthWest()
            ]).addTo(mymap);
            mymap.fitBounds(poly.getBounds());
        }).addTo(mymap);

        mymap.on('moveend', loadVisibleTrees);
        mymap.on('zoomend', loadVisibleTrees);
    });
</script>

<img src="{% static 'images/MulberryAdventure.png' %}" alt="Mulberry Adventure">
{% endblock content %}